@import url('https://fonts.googleapis.com/css2? family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@400;500&family=Oleo+Script+Swash+Caps&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    border: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
    font-size: 62.5%;
    overflow-x: hidden; 
}
body{
    background-color: #111;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 50px;
    padding: 10px 8%;  
    background-color: #222;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    height: 50px;
}
.logo a{
  font-size: 30px;
  color: #fff;
}
.logo span{
    color: aquamarine;
}
.liste{
    display: flex;
    list-style: none;
}
.liste li{
   margin-right: 30px;
   
}
.liste li a{
    color: #fff; 
    font-size: 14px;  
    padding-top: 5px;
 }
 .liste li a:hover{
    color: aquamarine; 
    background-color: #000;
    border-bottom: 2px solid aquamarine;  
    padding-bottom: 5px; 
    border-radius: 50%;
 }
.bouton{
    padding: 5px 2%;
    color: aquamarine;
    background-color: #000;
    border: 2px solid aquamarine;
    font-size: 14px;  
}
.bouton:hover{
 background-color: aquamarine;
 font-weight: bold;
 color: #fff;
}

/* partie sous logo */

.sous_logo{
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background: linear-gradient(rgba(0,0,0,0.1), #333), url(images/img1.jpg);
   height: 100vh;
   background-position: center;
   background-size: cover;
   position: relative;
   margin-top: 50px; 
}
.sous_logo h2{
   margin-bottom: 15px;
   text-transform: uppercase;
}
.sous_logo h4{
   font-size: 45px;
   margin-bottom: 15px;
 }
 .sous_logoo{
     margin-top: 10px;
     background-color: transparent;
 }

 /* partie des imput */

 .imputlist{
    position: absolute;
    bottom: -50px;
    background-color: #222;
    padding: 20px;
    width: 70%;
    height: 100px;
 }
 .imputlist form{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: flex-end;
}
 .imputlist form div , .imputlist form input[type="submit"] {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.imputlist form label{
   color: #999;
   font-size: 15px;
   margin-bottom: 15px;
  }
  .imputlist form input{
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid aquamarine;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
  }
  .imputlist form input[type="submit"]{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: aquamarine;
    cursor: pointer;
    transition: .2s;
    width: 100px;
  }
  .imputlist form input[type="submit"]:hover{
   box-shadow: 0 0 10px aquamarine;
  
  }
  
  
